{% set text = page.header.text %}
{% set feats = page.header.feats %}
   <section class="features {{ page.header.bgcolor? '': 'bg-gray'}}">
   
  {% if page.header.posContent == 'before' %}
    {% include 'partials/content-before.html.twig' %}
  {% endif %}

  <div class="container">
  
   {% if text.heading_display %}
      {% include 'partials/text-heading.html.twig' %}
    {% endif %}    
    
    <div class="grid-{{feats.col}}-splus-2-tplus-1">
    
     {% for item in feats.list %}
      <div class="features-item">
      <div class="features-item__icon">
        <i class="fa fa-{{item.icon}}"></i>
      </div>
      <p class="h3-like features-item__title">
        {{item.subtitle}}
      </p>
      <p class="features-item__content pbl">
        {{item.content}}
      </p>
       
      </div>
      {% endfor %}
    </div> 
  </div>
  {% if page.header.posContent == 'after' %}
    {% include 'partials/content-after.html.twig' %}
  {% endif %}
</section>