{% set text = page.header.text %}
{% set gal = page.header.gallery %}
 <section class="gallery {{ page.header.bgcolor? '': 'bg-gray'}}">
  {% if page.header.posContent == 'before' %}
  {% include 'partials/content-before.html.twig' %}
  {% endif %}
  <div class="container">
   
    {% if text.heading_display %}
      {% include 'partials/text-heading.html.twig' %}
    {% endif %}
   
    <div class="gallery-items {{ text.text_center? 'center':''}}" >
    
    {% if not gal.resize %}
      {% for item in page.media.images %}
                 
        <div class="inbl mhs mbs">
          <a href="{{item.url}}" data-featherlight="image">
          {{item.html }}      
        </div> 
                  
      {% endfor %}
    {% elseif gal.resize_type %}
      {% for item in page.media.images %}            
        <div class="inbl mhs mbs">
          <a href="{{item.url}}" data-featherlight="image">
          {{item.resize(gal.resize_width, gal.resize_height).html }}
          </a>
          
        </div>           
      {% endfor %}
    {% else %}
      {% for item in page.media.images %}            
        <div class="inbl mhs mbs">
          <a href="{{item.url}}" data-featherlight="image">
            {{item.cropResize(gal.resize_width, gal.resize_height).html }}
          </a>
          
        </div>           
      {% endfor %}
    {% endif %}
     
      
    </div>
  </div>
  {% if page.header.posContent == 'after' %}
  {% include 'partials/content-after.html.twig' %}
  {% endif %}
</section>
